PORT=5000
BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ
JWT_SECRET=super_secret_key_change_me_in_production
# SQLite ishlatayotganimiz uchun DATABASE_URL schema.prisma ichida 'file:./dev.db' deb ko'rsatilgan.
